.ProfessionalShareBox *{
    margin: 0px;
    padding: 0px;
}


/*
.fb-like {
    display: inline;
    float: right;
    clear: none;
    padding: 0px;
    margin: 0px;
    margin-top: -5px;
}

.twBtn{
    float: right; 
    margin-top: -10px; 
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .fb-like,.twBtn{
        display:block;
        clear:both;
        float:none;
    }
}
*/

/* iphone */
/*
@media screen and (max-device-width: 480px) {
.fb-like {
    clear:both;
    display:block;
    float:none;
    }
    .twBtn{
         clear:both;
    display:block;
    float:none;
    }
}

*/



